/* Starting off with Josh's Custom CSS Reset https://www.joshwcomeau.com/css/custom-css-reset/ */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

/* ——————————— YOUR CSS STARTS BELOW HERE ——————————— */

body {
  color: #131416;
  font-family: 'Lexend', sans-serif;
  overflow-x: hidden;
}

body::-webkit-scrollbar{
  display: none;
}

section, main {
  background-color: #131416;
}

h1 {
  font-family: 'Jolly Lodger', serif;
  font-size: 20vw;
}

h2 {
  font-size: 3vw;
}

p {
  color: white;
  font-weight: 200;
  font-size: 2vw;
  text-indent: 10%;
}

button {
  font-size: 2vw;
  border-radius: 15px;
  padding: 20px 40px;
  border: none;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  height: fit-content;
  width: fit-content;
  margin: 2% 28%;
}

button:hover {
  background-color: #86D57B;
}

nav {
  text-align: center;
  width: 100vw;
  height: 20vh;
  padding-top: 5vh;
}

a {
  font-size: 3vw;
  padding: 5vh 5vw;
  color: #131416;
}

a:hover {
  color: #A629E0;
  background-color: #131416;
  border-radius: 15px;
}

header {
  height: 80vh;
}

.source {
  font-size: 1rem;
  text-indent: 0;
}

.home_title {
  padding: 0 0 0 12vw;
  line-height: 13vw;
}

.title_wrapper {
  padding-top: 6vh;
}

.main_logo{
  width: 40vw;
  float: right;
  padding-right: 12vw;
}

.closing {
  background-color: #131416;
  color: white;
  height: 100vh;
}

.block_stack{
  height: 50vh;
}

.block {
  height: 25vh;
  width: 25vh;
}

.first_line, .second_line {
  display: flex;
  width: 97vw;
  margin: auto;
}

.closing_block h1{
  padding: 15vh 0;
  text-align: center;
  font-size: 6vw;
}

.p {
  background-color: #A629E0;
}

.o {
  background-color: #FF6E01;
}

.w {
  background-color: #FADEAE;
}

.g {
  background-color: #86D57B;
}

#main_info p{
  color: #131416;
}

section {
  height: 100vh;
}

#main_info {
  border-radius: 30px;
  width: 50vw;
  padding: 7vw;
  margin: 2.5%;
}

.float {
  float: right;
  width: 25vw;
  margin: 10%;
}

#home_registration{
  display: flex;
}

#reg_tile{
  border-radius: 30px;
  padding: 3%;
  width: fit-content;
  height: fit-content;
  transform: rotate(-90deg);
  margin: 18% 1%;
}

#reg_block {
  width: fit-content;
  height: fit-content;
  padding: 4%;
  border-radius: 30px;
  margin: 2% 0;
}

#reg_block h2{
  font-size: 1.75vw;
}

#reg_block p{
  font-size: 1.25vw;
}

#serving {
  float: right;
  font-family: 'Jolly Lodger', serif;
  padding-right: 10%;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#serve {
  font-size: 7vw;
}

#FOOD {
  padding-top: 12%;
  padding-left: 10%;
}

#food_title {
  width: fit-content;
  height: fit-content;
  border-radius: 30px;
  padding: 3%;
  margin: auto;
}

#trucks_list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.truck {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1%;
  padding: 3%;
  border-radius: 30px;
  height: fit-content;
  width: 30%;
  transition: transform .2s;
}

.truck:hover {
  transform: scale(1.1);
}

h3 {
  font-size: 2vw;
}

.truck p{
  text-align: center;
  font-size: 1vw;
  text-indent: 0;
  width: 75%;
}

.truck img{
  width: 25%;
}